@font-face {
  font-family: MartianMono;
  src: url('./font/MartianMonoVF.woff2') format('woff2');
  font-weight: 100 800;
  font-stretch: 75% 112.5%;
  font-display: swap;
}

:root {
  --white: #fff;
  --black: #101820;
  --yellow: #fee715;
  --red: #e73131;
  --green: #0cb877;
  --blue: #152cfe;
  --gray: #e2e2e2;

  --max-content-width: 1020px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: MartianMono, monospace;
  font-size: 15px;
  font-weight: 400;
  color: var(--black);
}

body {
  margin: 0;
  height: 100vh;
}

#app {
  min-width: 320px;
  height: 100%;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid var(--green);
  border-radius: 5px;
}

.button--as-icon {
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.button--as-icon svg {
  height: auto;
}

.button:disabled {
  opacity: 0.3;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }

  .button:hover {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
  }

  .button--as-icon:hover {
    background-color: transparent;
    border: 0;
    color: var(--black);
    opacity: 0.6;
  }

  .button:disabled:hover {
    cursor: default;
    opacity: 0.3;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.3;
  }
}
